<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="assets/account.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <strong>Cuidado!</strong> Tienes los siguientes errores:
          <li *ngFor="let error of errors">
            {{ error }}
          </li>
        </div>
        <div class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input [(ngModel)]="username" type="email" id="inputEmail" class="form-control" placeholder="Cuenta" required autofocus>
            <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button (click)="login()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ingresar</button>
        </div>
    </div>
</div>
