<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Administración de Usuarios</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <button (click)="changeJumbotronColor('danger-color')" type="button" class="btn btn-danger my-navbar-button"><i class="fa fa-file"></i> Archivo</button>
      </li>
      <li class="nav-item">
        <button (click)="changeJumbotronColor('warning-color')" type="button" class="btn btn-warning my-navbar-button"><i class="fa fa-bars"></i> Menú 1</button>
      </li>
      <li class="nav-item">
        <button (click)="changeJumbotronColor('info-color')" type="button" class="btn btn-info my-navbar-button"><i class="fa fa-ellipsis-h"></i> Menú 2</button>
      </li>
      <li class="nav-item">
        <button (click)="changeJumbotronColor('success-color')" type="button" class="btn btn-success my-navbar-button"><i class="fa fa-exclamation"></i> Acción</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary my-navbar-button"><i class="fa fa-key"></i> Cambio de Password</button>
      </li>
      <li class="nav-item">
        <button (click)="toggleAdministrationPanel(true)" type="button" class="btn btn-primary my-navbar-button"><i class="fa fa-users"></i> Administrar Usuarios</button>
      </li>
      <li *ngIf="showAdministrator" class="nav-item">
        <button (click)="showCreateUserModal()" type="button" class="btn btn-success my-navbar-button"><i class="fa fa-user-plus"></i> Añadir Usuario</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary my-navbar-button"><i class="fa fa-times-circle"></i> Salir</button>
      </li>
    </ul>
  </div>
</nav>

<div [style.display]="displayMe" style="margin-top: 5%;" class="container">
  <table  class="cell-bordered" datatable="ng" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!showAdministrator" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 [className]="displayClass">DENTRO DEL SISTEMA CACHAFAS!</h1>
    <p [className]="leadClass">Bienvenido, Jacobo</p>
  </div>
</div>


<div class="modal fade" id="create-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Usuario</h5>
      </div>
      <div class="modal-body">
        <div class="container">

          <div class="form-row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <i class="fa fa-id-card"></i>
              <label for="apellido">Nombre: </label>
              <input [(ngModel)]="user.name" type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <i class="fa fa-id-card"></i>
              <label for="apellido">Apellido: </label>
              <input [(ngModel)]="user.lastName" type="text" class="form-control" id="apellido" placeholder="Apellido">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <i class="fa fa-id-card"></i>
              <label for="puesto">Puesto: </label>
              <input [(ngModel)]="user.position" type="text" class="form-control" id="puesto" placeholder="Puesto">
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <i class="fa fa-id-card"></i>
              <label for="perfil">Perfil: </label>
              <input [(ngModel)]="user.profile" type="text" class="form-control" id="perfil" placeholder="Perfil">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <i class="fa fa-id-card"></i>
              <label for="cuenta">Cuenta: </label>
              <input [(ngModel)]="user.username" type="text" class="form-control" id="cuenta" placeholder="Cuenta">
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <i class="fa fa-id-card"></i>
              <label for="contrasena">Contraseña: </label>
              <input [(ngModel)]="user.password" type="password" class="form-control" id="contrasena" placeholder="Contraseña">
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button (click)="createUser()" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<script>$.fn.dataTableExt.sErrMode = 'throw'</script>
