<div class="container">
    <div class="card card-container">
        <div *ngIf="once" class="alert alert-success">
          <strong>Bienvenido!</strong> {{ message }}
        </div>
        <p id="profile-name" class="profile-name-card"></p>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <strong>Cuidado!</strong> Tienes los siguientes errores:
          <li *ngFor="let error of errors">
            {{ error }}
          </li>
        </div>
        <div class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input [(ngModel)]="password" type="password" id="inputEmail" class="form-control" placeholder="Password" required autofocus>
            <input [(ngModel)]="passwordConfirmation" type="password" id="inputPassword" class="form-control" placeholder="Confirmación de password" required>
            <button (click)="updatePassword()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ingresar</button>
        </div>
    </div>
</div>
